body {
    background-color: lightgrey;
    text-align: center;
    }

div {
    align-content: center;
    margin: 10px;
}

input {
    margin: 30px;
}

label{
    margin-right: -70px;

}

